@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'nature_spiritregular';
    src: url('font/naturespiritregular-webfont.woff2') format('woff2'),
         url('font/naturespiritregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marsekdemi';
    src: url('font/marsek-demi-webfont.woff2') format('woff2'),
         url('font/marsek-demi-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'alaskaregular';
    src: url('font/alaska_font-webfont.woff2') format('woff2'),
         url('font/alaska_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaitalic';
    src: url('font/kiona-itallic-webfont.woff2') format('woff2'),
         url('font/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaregular';
    src: url('font/kiona-regular-webfont.woff2') format('woff2'),
         url('font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amaticbold';
    src: url('font/amatic-bold-webfont.woff2') format('woff2'),
         url('font/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	background-image: url(images/fond-texte.png);
	background-repeat: repeat;
}

form{
	width: 800px;
	padding: 25px;
	margin: auto;
	background-color:rgba(246,246,246,0.7);
	border: solid 1px rgba(218,214,214,0.7);
	box-shadow: 2px 2px 20px rgba(218,214,214,0.7);
}

form, label{
	font-family: 'kionaregular';
	color: black;
}


#psubmit{
	font-family: 'kionaregular';
	font-size: 1em;
	width: 180px;
	height: 45px;
	background-color: blue;
	color: white;
	margin-top: 15px;
	margin-bottom: 0;
	text-align: center;
}

#psubmit:hover{
	box-shadow: 0 0 7px 0px blue;
}

a{
	text-decoration: none;
	color: black;
}

#pcancel{
	display: inline-block;
	font-family: 'kionaregular';
	font-size: 1em;
	width: 130px;
	background-color: white;
	color: grey;
	margin: 15px 15px 0 447px;
	text-align: center;
	margin-bottom: 20px;
	border: solid 1px rgba(218,214,214,0.7);
	height: 30px;
	line-height: 30px;
	padding: 7px;
}

input{
	margin-bottom: 20px;
	border: solid 1px rgba(218,214,214,0.7);
	height: 30px;
	width: 400px;
}
header{
	width: 100%;
	height: 70px;
	margin-bottom: 40px;
}
h1{
	font-family: 'nature_spiritregular';
	font-size:2em;
	margin-bottom: 3px;
	margin-top: 0;
}

h2{
	font-family: 'marsekdemi';
	font-size: 0.5em;
	margin-top: 0;
	margin-left: 28px;
}

h3{
	font-family: 'kionaregular';
	font-size:2em;
	text-align: center;
	color: rgba(79,111,163,1.00);
	border: solid 1px rgba(79,111,163,1.00);
	width: 845px;
	margin: auto;
}

h4{
	font-family: 'amaticbold';
	font-size: 3em;
	color:white;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}



#logo{
	float: left; 
	margin-left: 20px;
	margin-top: 10px;
}

nav{
	list-style: none;
	padding: 0;
	text-align: right;
}

nav li{
	display: inline-block;
	margin-right: 40px;
}

nav li a{
	font-family: 'nature_spiritregular';
	text-decoration: none;
	color: dimgrey;
	font-size: 1em;
}

nav li a:hover{
	color: blue;
	text-decoration:line-through;
}

#current{
	text-decoration: line-through;
	color: blue;
}

nav ul{
	margin-right: 30px;
	margin-top: 20px;
	float: right;
}

#container{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	justify-content: flex-start;
	
}
#title{
	background-color:#2B9EC5;
	width: 24%;
	height: 20vw;
	margin: 10px 2px 0px 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5px;
}

.button{
	display: flex;
	margin-top: 30px;
}

.button a{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-family: 'kionaregular';
}

.buttonc{
	display: flex;
	height: 30px;
}

.buttonc a{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-family: 'kionaregular';
}

.suppr{
	background-color: #FFFFFF;
	margin-right: 5px;
	transition-property: background-color, color;
	transition-duration: 1s;
}

.suppr:hover{
	background-color: red;
	color: white;
}

.update{
	background-color: #38CDFF;
	margin-left: 5px;
	transition-property: background-color, color;
	transition-duration: 1s;
}

.update:hover{
	background-color: rgba(79,111,163,1.00);
	color: white;
}

#containcomments{
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	font-family:"Avenir Light", "Futura Medium", "Gill Sans";
}

#alertc p{
	margin: 0;
}

#alertc{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	border: 1px solid black;
	border-radius: 5px;
}


