@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'nature_spiritregular';
    src: url('font/naturespiritregular-webfont.woff2') format('woff2'),
         url('font/naturespiritregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marsekdemi';
    src: url('font/marsek-demi-webfont.woff2') format('woff2'),
         url('font/marsek-demi-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'kionaitalic';
    src: url('font/kiona-itallic-webfont.woff2') format('woff2'),
         url('font/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kionaregular';
    src: url('font/kiona-regular-webfont.woff2') format('woff2'),
         url('font/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amaticbold';
    src: url('font/amatic-bold-webfont.woff2') format('woff2'),
         url('font/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic_scregular';
    src: url('font/amaticsc-regular-webfont.woff2') format('woff2'),
         url('font/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {-moz-box-sizing: border-box; box-sizing: border-box;}

body{
	margin: 0;
	padding-bottom: 85px;
	background-image: url(images/fond-texte.png);
	background-repeat: repeat;
}

a{
	text-decoration: none;
	color: black;
}

header{
	width: 100%;
	height: 60px;
	margin-bottom: 50px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
h1{
	font-family: 'nature_spiritregular';
	font-size:2em;
	margin-bottom: 3px;
	margin-top: 0;
}

h2{
	font-family: 'marsekdemi';
	font-size: 0.5em;
	margin-top: 0;
	margin-left: 33px;
}

#logo{
	width: 170px;
	margin-left: 30px;
}

#home{
	width:100px;
	height: 30px;
	text-align: center;
	line-height: 33px;
	border-radius: 2px;
	margin-right: 20px;
	font-family: 'nature_spiritregular';
	font-size:1.2em;
	color: black;
	border: 1px solid black;
	transition-property: background-color, color, border, border-radius;
	transition-duration: 0.6s;
}

/*Search bar
#search{
    width:500px;
    margin:0 auto;
}
.search { 
    padding:6px 15px 6px 30px;
    margin:3px; 
	border:1px solid grey;
	border-radius:15px; 
}*/

#container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 45vw;
	margin-bottom: 10px;
}

h4{
	font-family: 'amaticbold';
	font-size: 5em;
	color:white;
	text-align: center;
	margin-bottom: 0;
}

#title{
	background-color:#2B9EC5;
	width: 50%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.book{
	color: white;
	font-family: 'marsekdemi';
	text-align: center;
	font-size: 0.7em;
	margin-top: 0;
	margin-bottom: 2px;
}

.author{
	font-size: 0.6em;
	text-align: center;
	margin-top: 0;
	color: #B2FAFF;
}

#content{
	width: 50%;
	padding: 20px;
	/*background-image: url(images/fond-texte.png);
	background-repeat: no-repeat;*/
	font-family:'Kionaregular';
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#read{
	font-family: 'kionaregular';
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	width: 180px;
	height: 45px;
	background-color: #2B9EC5;
	color: white;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: 1s;
}

#read:hover{
	background-color: #59767F;
}

#home:hover{
	border: 1px solid #2B9EC5;
	border-radius: 20px;
	color: #2B9EC5;
}

footer{
	background-color: #59767F;
	height: 40px;
	position: fixed;
	bottom: 0; 
	left: 0; 
	right: 0;
	z-index:10;
}

footer a{
	font-family: 'nature_spiritregular';
	color:white;
	line-height: 40px;
	width: 150px;
	display: block;
	margin: auto;
}

/*Post-View*/

#postview{
	width: 960px;
	display: block;
	margin: auto;
	box-shadow: 0px 0px 40px 0px #D1E8F0;
	padding: 20px;
	background-color: white;
}

h5{
	font-family: 'kionaregular';
	font-size:2em;
	text-align: center;
	color: #59767F;
	border: solid 1px #59767F;
	width: 960px;
	margin: auto;
}

#contentpost{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.margintitle{
	margin-bottom: 40px;
}

/*comments*/

h6{
	font-family: 'kionaregular';
	color: white;
	font-weight: 3000;
	font-size: 1em;
	width: 35em;
	height: 4em;
	line-height: 4em;
	margin-left: 60px;
	margin-bottom: 0px;
	text-align: center;
	background-color: #B29D78;
}

#free{
	margin-left: 60px;
	background-color: #FFFCF8;
	padding: 20px;
	width: 35em;
}

.brown{
	color: #B29D78;
}

.date{
	font-size: 0.8em;
}

#backcomments{
	background-color: white;
	padding: 10px;
}

aside p{
	margin-top: 0;
}

#separatecomments{
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(212,212,212,1.00);
}

#alert{
	width: 100px;
}

